<h2>Queues Info</h2>

<div class="line">
	<div id="inputs_queue" class="highlight">
		Inputs queue
		<strong></strong>
	</div>
	<div id="outputs_queue" class="highlight">
		Outputs queue
		<strong></strong>
	</div>
	<!--
	<div class="highlight">
		Hours remaining
		<strong><%= 3 %></strong>
	</div>
	-->
</div>

<!--
<h2>Queue Actions</h2>

<div class="actions">
	<input type="button" name="clear_input_queue" value="Clear input queue" />	
	<input type="button" name="clear_output_queue" value="Clear output queue" />	
</div>
-->

