<% content_for :head do %>
	<%= javascript_include_tag 'dashboard' %>
<% end %>

<% content_for :header, "Dashboard" %>

<h2>Running tasks info</h2>
<%= render :partial => 'tasks/list', :locals => { :tasks => @tasks } %>

<h2>Queues Info</h2>

<div class="line">
	<div id="inputs_queue" class="highlight">
		Inputs queue
		<strong></strong>
	</div>
	<div id="outputs_queue" class="highlight">
		Outputs queue
		<strong></strong>
	</div>
	<!--
	<div class="highlight">
		Hours remaining
		<strong><%= 3 %></strong>
	</div>
	-->
</div>

