<h1>Dashboard</h1>

<h2>Status info</h2>

<div style="display:block;">
	<div class="highlight">
		Waiting tasks
		<strong><%= @waiting_tasks %></strong>
	</div>
	<div class="highlight">
		Elapsed hours
		<strong><%= 22 %></strong>
	</div>
	<div class="highlight">
		Hours remaining
		<strong><%= 3 %></strong>
	</div>
</div>