config/*.yml
/db/schema.rb
/log/
/public/system/attachments/
/tmp/
/doc/
/.idea/
.DS_Store
.rspec
*.tmproj
utils/user_data_service_simulator/tmp/restart.txt
/coverage/
coverage.data
.rvmrc
cloud_gunther.todo
*.pid
*.log

utils/user_data_service_simulator/nginx.conf

Procfile
