/config/database.yml
/config/amqp.yml
/config/application.yml
config/daemons.yml
/db/schema.rb
/log/
/public/system/attachments/
/tmp/
/.idea/
.DS_Store
.rspec
*.tmproj
utils/user_data_service_simulator/tmp/restart.txt
/coverage/
coverage.data

config/email.yml

.rvmrc

cloud_gunther.todo
