config/*.yml
/db/schema.rb
/log/
/public/system/attachments/
/tmp/
/.idea/
.DS_Store
.rspec
*.tmproj
utils/user_data_service_simulator/tmp/restart.txt
/coverage/
coverage.data
.rvmrc
cloud_gunther.todo
