<fieldset id="password_change" class="">
	<legend>Password Change</legend>
	
	<div class="field">
		<%= f.label :password %> <em>(leave blank if you don't want to change it)</em><br />
		<%= f.password_field :password, :class => "text" %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation, :class => "text" %>
	</div>
</fieldset>
