<h1>Users management</h1>

<div class="field">
	<ul>
		<li><%= link_to 'New User', new_user_path %></li>
	</ul>
</div>

<%= render :partial => "list", :locals => { :search => @search, :users => @users } %>
