<%= content_for :header, "Users" %>

<% content_for :actions do %>
	<!-- <li><%= link_to 'Create a new user', new_user_path %></li> -->
	<li><%= link_to "Pending Registrations (#{@pending_registrations_count})", registrations_users_path %></li>
<% end %>


<%= render :partial => "list", :locals => { :search => @search, :users => @users } %>


