<h1>Listing algorithm_binaries</h1>

<%= render :partial => "algorithm_binaries/list", :locals => { :algorithm_binaries => @algorithm_binaries } %>

<br />

<%= link_to 'New Algorithm binary', new_algorithm_binary_path %>
