<p>
	<strong>How to use macros?</strong> <a href="javascript:open_help_dialog('#macro_syntax_help_dialog');">[?]</a>
</p>

<div id="macro_syntax_help_dialog" class="help_dialog" title="How to use macros?">
	<ul>
		<li><code>{{BINARY}}</code> - Inserts algorithm binary filename.</li>
		<li><code>{{INPUTS}}</code> - Inserts task's inputs.</li>
		<li><code>{{INSTANCES_COUNT}}</code> - Inserts count of instances started for the task.</li>
		<li><code>{{INSTANCE_ID}}</code> - Inserts instance count as incremental number from 1 to {{INSTANCES_COUNT}}.</li>
		<li><code>{{UNIX_UID}}</code> - Inserts unix uid for logged in user.</li>
		<li><code>{{UNIX_USERNAME}}</code> - Inserts unix username for logged in user.</li>
	</ul>
</div>