<p>
	<strong>How to use macros?</strong> <a href="javascript:open_help_dialog('#macro_syntax_help_dialog');">[?]</a>
</p>

<div id="macro_syntax_help_dialog" class="help_dialog" title="How to use macros?">
	<ul>
		<li><code>{{BINARY}}</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li><code>{{INPUTS}}</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li><code>{{INSTANCES_COUNT}}</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li><code>{{INSTANCE_ID}}</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li><code>{{UNIX_UID}}</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
	</ul>
</div>