<p>
	<strong><%= t("image.start_up_script_help_title") %></strong> <a href="javascript:open_help_dialog('#start_up_script_help_dialog');">[?]</a>
</p>

<div id="start_up_script_help_dialog" class="help_dialog" title="<%= t("image.start_up_script_help_title") %>">
	<%= raw t("image.start_up_script_help_html") %>
</div>