<p>
	<strong><%= t("image.start_up_script_help_title") %></strong> <a href="javascript:open_help_dialog('#start_up_script_help_dialog');">[?]</a>
</p>

<div id="start_up_script_help_dialog" class="help_dialog" title="<%= t("image.start_up_script_help_title") %>">
	<p>You should write standard bash script which will be processed into stared instance via <abbr>ssh</abbr> command.</p>
	<p>
		Sample script:
		<pre>
useradd foo
cp /etc/hosts /home/foo
		</pre>
	</p>
	<p>
		This sample script will be processed into <abbr>ssh</abbr> command in following format:
		<pre>
ssh root@HOST 'useradd foo; cp /etc/hosts /home/foo;'
		</pre>
	</p>
</div>